
@{
    ViewData["Title"] = "Login";
}



<div class="modal fade" id="loginform" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered w-100">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="h-auto p-4">
                        <div class="container-fluid w-100 m-auto h-custom">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div id="img" class="col-md-9 col-lg-9 col-xl-12">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                         class="img-fluid" alt="Sample image">
                                </div>
                                <div class="col-md-10 col-lg-9 col-xl-12 offset-xl-1 offset-md-1">
                                    <form class="pe-4" id="login" method="get" asp-action="" asp-controller="">
                                        <!-- Email input -->
                                        <div class="form-outline mb-2">
                                           <i class="fa-solid fa-envelope"></i>
                                            <input type="email" id="form3Example3" class="form-control form-control-lg"
                                                   placeholder="Enter a valid email address" />
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline mb-2">
                                            <i class="fa-solid fa-lock"></i>
                                            <input type="password" id="form3Example4" class="form-control form-control-lg"
                                                   placeholder="Enter password" />
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <!-- Checkbox -->
                                            <div class="form-check mb-0">
                                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                                <label class="form-check-label" for="form2Example3">
                                                    Remember me
                                                </label>
                                            </div>
                                            <a href="#!" class="text-body">Forgot password?</a>
                                        </div>

                                        <div class="text-center text-lg-center mt-4 pt-2">
                                            <button type="button" class="btn btn-primary btn-lg">
                                                Login
                                            </button>
                                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                                Don't have an account? <a href="#!" class="link-danger" id="gotoRegister">Register</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div id="register" class="col-md-10 col-lg-9 col-xl-12 offset-xl-1 offset-md-1">
                                    <div class="rounded-0 m-auto border-3 border-dark" style="width:100px; height:100px">
                                        <img src="/imgs/profile.jpg" class="img-fluid"/>
                                    </div>
                                    <form class="pe-4" method="get" asp-action="" asp-controller="">
                                        <!--profile Image-->
                                        <div class="form-outline mb-2 opacity-0">
                                            <input type="file" id="form3Example3" class="form-control form-control-lg"/>
                                        </div>
                                        <!--Name-->
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="form3Example3">User Name</label>
                                            <input type="email" id="form3Example3" class="form-control form-control-lg"
                                                   placeholder="Enter your Name" />
                                        </div>
                                        <!--Date of birth-->
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="form3Example3">Date of birth</label>
                                            <input type="date" id="form3Example3" class="form-control form-control-lg"
                                                   placeholder="Enter your birthdate" />
                                        </div>
                                        <!-- Email input -->
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="form3Example3">Email address</label>
                                            <input type="email" id="form3Example3" class="form-control form-control-lg"
                                                   placeholder="Enter a valid email address" />
                                        </div>
                                        
                                        <!-- Password input -->
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="form3Example4">Password</label>
                                            <input type="password" id="form3Example4" class="form-control form-control-lg"
                                                   placeholder="Enter password" />
                                        </div>
                                        <!-- Confirm password -->
                                        <div class="form-outline mb-2">
                                            <label class="form-label" for="form3Example4">Password</label>
                                            <input type="password" id="form3Example4" class="form-control form-control-lg"
                                                   placeholder="Confirm Password" />
                                        </div>
                                        <div class="text-center text-lg-center mt-4 pt-2">
                                            <button type="button" class="btn btn-success btn-lg">
                                                Register Now!
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#register").hide();
            $("#gotoRegister").click(function () {
                $("#login").hide();
                $("#img").hide();
                $("#register").fadeIn(3000, "slow");
            });
        });
    </script>
}
